<hr>
<div class="floating-banner floating-banner-inner">
  <h2 class="entry"><%= @entry['title']%></h2>
  <h2 class="devicons">
    <% (@entry['tech'] || []).each do |tech|  %>
      <%= "<i class=\"#{tech}\"></i>" %>
    <%end%>
    <%= " #{@entry['year']}" if @entry['year'] %>
  </h2>
</div>
<% if @entry['company']%>
<h3><%= @entry['company']%></h3>
<%end%>
<h4>
  <% subheader = "<i>" %>
  <% subheader << @entry['place'] if @entry['place'] %>
  <% subheader << " | " if @entry['place'] && @entry['time'] %>
  <% subheader << @entry['time'].gsub('-', '&ndash;') if @entry['time']%>
  <%= subheader << "</i>" if @entry['place'] || @entry['time']%>
</h4>
<%= @entry['desc']%>
<% (@entry['buttons'] || []).each do |button|%>
  <%= button%>
<%end%>
